<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Config.Log4Net" value="Log4net.Config.xml"/>
    <add key="uvLibretaWS.uvLibretaWS" value="http://ansesnegodesapp/uvLibretaWs/uvLibretaWS.asmx"/>
    <add key="CertificadosWS.CertificadosWS" value="http://ansesnegodesapp/Anses.Prissa.Carpeta.Invalidez.Servicio/CertificadosWS.asmx"/>
    <add key="ExpedienteWS.ExpedienteWS" value="http://ansesnegodesapp/ANME/ANMEGestionTramites/ExpedienteWS.asmx"/>
    <add key="UVHICreditos.UVHICreditos" value="http://ansesnegodesapp/UVHICreditos/UVHICreditos.asmx"/>
    <add key="Activos_ServiciosComplementariosWs.Activos_ServiciosComplementariosWs" value="http://ansesnegodesapp/activos_ServiciosComplementariosWs/Activos_ServiciosComplementariosWs.asmx"/>
    <add key="TurnosWS.wsDatos" value="http://ansesnegodesapp/TurnosWs/wsDatos.asmx"/>
    <add key="SBAService.SBAService" value="http://ansesbiobancos1.anses.gov.ar/SBA/SBAService.svc"/>
    <add key="EmplBenef.EmplBenef" value="http://ansesnegodesapp/EmplBenefWS/EmplBenef.asmx"/>
    <add key="WebRUBWS/RUBConsultas01" value="http://ansesnegodesapp/WebRUBWS/RUBConsultas01.asmx "/>
    <add key="DeudaArgentaWS.DeudaArgentaWS" value="http://ansesnegodesapp/datServicioV2/DeudaArgentaWS.asmx"/>
    <add key="BocaDePagoWS.BocaDePagoWS" value="http://ansesnegodesapp/BocaDePagoServicio/BocaDePagoWS.asmx"/>
    <add key="RUBConsultas01.RUBConsultas01" value="http://ansesnegodesapp/WebRUBWS/RUBConsultas01.asmx"/>
    <add key="PIM.PIM" value="http://localhost:59537/PIM.svc"/>
    <add key="NovedadAnsesWS.NovedadWS" value="http://ansesnegodesapp/datserviciov2/NovedadWS.asmx"/>
    <add key="WSPW04.WSPW04" value="http://presdesabper/ADPLocalizacionDB2SP/WSPW04.asmx"/>
  <add key="DatosdePersonaporCuip.datosdepersonaporcuip" value="http://presdesabper/adplocalizaciondb2sp/datosdepersonaporcuip.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=ANSESMICRODES;Initial Catalog=YH_ARGENTAC_V01;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>