<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <validation>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Comercializador">
       <ruleset name="ValidaEntidades_ID_FechaInicio_FechaFin">
        <properties>
          <property name="FechaFin">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2900-01-01" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FechaFin no es una fecha válida."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="Cuit">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico CuitComercializador supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaFin">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FFin no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaInicio">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FInicio no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
          <property name="ID">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico IdComercializador supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="NombreFantasia">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo NombreFantasia supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Observaciones">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="1000"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Observaciones supera la longitud esperada (LongMax 1000)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="RazonSocial">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo RazonSocial supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.ContactoReclamo">
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="Cuil">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico cuil supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="Mail">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Mail supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="Telediscado">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="5"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Telediscado supera la longitud esperada (LongMax 5)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="Telefono">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="15"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Telefono supera la longitud esperada (LongMax 15)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Domicilio">
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="Calle">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Calle supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="CodigoPostal">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="8"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo CodPostal supera la longitud esperada (LongMax 8)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Departamento">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="5"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Dpto supera la longitud esperada (LongMax 5)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Fax">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Fax supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="FechaFin">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FFin no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaInicio">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FInicio no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
          <property name="ID">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico idDomicilioComercializador supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="Localidad">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Localidad supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Mail">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Mail supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="NumeroCalle">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="2147483647"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico Nro supera la longitud máxima soportada por el Tipo int."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="NumeroTel">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Tel_Nro supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Observaciones">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="255"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Observaciones supera la longitud esperada (LongMax 255)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Piso">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="2"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Piso supera la longitud esperada (LongMax 2)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="PrefijoTel">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="5"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Tel_Prefijo supera la longitud esperada (LongMax 5)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Prestador">
      <ruleset name="ValidaEntidades_ID_Comercializadoras">
        <properties>
          <property name="ArrayComercializadoras">
            <validator
              targetType="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Comercializador, DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              targetRuleset="ValidaEntidades_ID_FechaInicio_FechaFin"
                       type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectCollectionValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Object Collection Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="CBU">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="30"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo CBU supera la longitud esperada (LongMax 30)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="CodoFicinaANME">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="2147483647"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico CodOficinaAnme supera la longitud máxima soportada por el Tipo int."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="CodSistema">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="3"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo CodSistema supera la longitud esperada (LongMax 3)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="CUIT">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="11"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo CUIT supera la longitud esperada (LongMax 11)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Email">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Email supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="ID">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico IdPrestador supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="NombreFantasia">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo NombreFantasia supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="Observaciones">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="255"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Observaciones supera la longitud esperada (LongMax 255)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="RazonSocial">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo RazonSocial supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Reclamo">
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="DescripcionReclamo">
            <validator lowerBound="0" lowerBoundType="Inclusive" upperBound="1000"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo DescripcionReclamo supera la longitud esperada (LongMax 1000)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="Expediente">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="23"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Expediente supera la longitud esperada (LongMax 23)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="FechaAltaReclamo">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FAltaReclamo no es una fecha válida."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
          <property name="IdReclamo">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="9223372036854775807"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico idReclamo supera la longitud máxima soportada por el Tipo Long o Int64."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
    <type assemblyName="DATEntidades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Ar.Gov.Anses.Microinformatica.DAT.Entidades.Tasa">
      <ruleset name="ValidaIntegridadDB">
        <properties>
          <property name="CantCuotas">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="255"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico CantCuotas supera la longitud máxima soportada por el Tipo SmallInt."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="CantCuotasHasta">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="255"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico CantCuotasHasta supera la longitud máxima soportada por el Tipo SmallInt."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="FAprobacion">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FAprobacion no es una fecha válida."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaFin">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FFin no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaFinVigencia">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FFinVigencia no es una fecha válida."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="FechaInicio">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FInicio no es una fecha válida." messageTemplateResourceName=""
              messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
          </property>
          <property name="FechaInicioVigencia">
            <validator lowerBound="1900-01-01" lowerBoundType="Inclusive"
              upperBound="2999-12-31" upperBoundType="Inclusive" negated="false"
              messageTemplate="El campo FInicioVigencia no es una fecha válida."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Date Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="GastoAdministrativo">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="79228162514264337593543950335"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico GastoAdministrativo supera la longitud máxima soportada por el Tipo decimal."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="ID">
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="IPAprobacion">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="12"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo IPAprobacion supera la longitud esperada (LongMax 12)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="LineaCredito">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="100"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo LCredito supera la longitud esperada (LongMax 100)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="NroOficinaAprobacion">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="2147483647"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico NroOficinaAprobacion supera la longitud máxima soportada por el Tipo int."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
          </property>
          <property name="Observaciones">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="1000"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo Observaciones supera la longitud esperada (LongMax 1000)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="TEA">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="79228162514264337593543950335"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico TEA supera la longitud máxima soportada por el Tipo decimal."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="TNA">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="79228162514264337593543950335"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo numérico TNA supera la longitud máxima soportada por el Tipo decimal."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Range Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
          <property name="UsuarioAprobacion">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo UsuarioAprobacion supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
          </property>
          <property name="UsuarioCarga">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50"
              upperBoundType="Inclusive" negated="false" messageTemplate="El campo UsuarioCarga supera la longitud esperada (LongMax 50)."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="String Length Validator" />
            <validator negated="false" messageTemplate="No se permiten valores vacios o nulos."
              messageTemplateResourceName="" messageTemplateResourceType=""
              tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              name="Not Null Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>