<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="DAT_RutaArchivo" value ="\\ansesmicrosql.externos.anses.gov.ar\e$\batch\dat\archivos\"></add>
    <add key="DAT_MaxCantidadRegistros" value ="5000"></add>-->
    <!--<add key="DAT_RutaArchivo" value="\\ansesmicrodes\Batch\DAT\Archivos\"/>-->
    <add key="DAT_RutaArchivo" value="\\ansesmicrodes\Batch\DAT\Archivos"/>
    <add key="DAT_MaxCantidadRegistros" value="2000"/>
    <add key="DAT_DelimitadorCampo" value="|"/>
    <add key="DAT_Codigo_Sistema" value="YH"/>
    <add key="DAT_ClaveMAC" value="YHgkk354uft89CVX"/>
    <add key="DAT_MaxIntentos" value="3"/>
    <!-- Configuracion del Validador -->
    <add key="validacionConfig" value="validation.config"/>
    <add key="defaultRuleSet" value="ValidaIntegridadDB"/>
    <!-- desarrollo -->
    <add key="bstrHostLU" value="CICS-Y2K"/>
    <add key="pbstrUserID" value="WWWTEST"/>
    <add key="pbstrPassword" value="FGWH85"/>
    <!-- Produccion 
    <add key="bstrHostLU" value="CICSS"></add>
    <add key="pbstrUserID" value="WWWOTACT"></add>
    <add key="pbstrPassword" value="85MMK6H"></add>
    -->
    <!-- Claves DAT1 -->
    <add key="DAT_ClaveMAC" value="YHgkk354uft89CVX"/>
    <add key="DAT_MaxIntentos" value="3"/>
    <add key="DAT_LDAP_ID" value="name"/>
    <add key="DAT_LDAP_Nombre" value="givenname"/>
    <add key="DAT_LDAP_Prestador" value="description"/>
    <add key="DAT_LDAP_Mail" value="mail"/>
    <add key="DAT_LDAP_Dominio" value="LDAP://externos.anses.gov.ar"/>
    <!--<add key="DAT_RutaArchivo" value ="\\ansesmicrosql.externos.anses.gov.ar\e$\batch\dat\archivos\"></add>-->
    <add key="DAT_DelimitadorCampo" value="|"/>
    <add key="DigiWebCodSistema" value="YH-ARGENTA"/>
    <add key="DigiWebCodEstado" value="101"/>
    <add key="WSCambiarEstadoExpediente.CambiarEstadoExpedienteWS" value="http://ansesnegodesapp/ANME/ANMEServicioParaJboss6/CambiarEstadoExpedienteWS.asmx"/>
    <add key="ANMEConsGral.BuscarExpedienteporPKWS" value="http://ansesdesapp/ANMEConsGral/BuscarExpedienteporPKWS.asmx"/>
    <add key="DigitalizacionWS.digitalizacionservicio" value="http://ansesarq01:1993/DigitalizacionWS/digitalizacionservicio.asmx"/>
    <add key="TSWebService.NovedadesSVCImpService" value="http://10.5.50.49:8080/AnsesServices/services/NovedadesSVC"/>
    <add key="ADPDescripciones.ADPDescripciones" value="http://presdesabper/UNICEN/BUC/ADPDescripciones.asmx"/>
    <add key="WSValidarCBU.ValidarCBU" value="http://presdesabper/ServicioValidacionCBU/ValidarCBU.asmx"/>
    <!--UBICACION DEL ARCHIVO DE CONFIGURACION DEL LOG4NET -->
    <add key="Config.Log4Net" value="Log4net.Config.xml"/>
    <!--Esquema para las DB en dif. ambientes-->
    <add key="CultureInfo" value="es-AR"/>
    <!-- Ubicacion del archivo de Log-->
    <add key="DirectorioLog" value="Logs/"/>
    <!-- Log: Repositorio o Registro para la grabacion de Eventos  -->
    <!-- Repositorio Custom el indicado abajo. Repositorio estandar: Application,-->
    <add key="LogApp" value="DATServicioV2"/>
    <!-- Source: Referido a la identificacion de los Eventos que se vayas escribiendo en el Repositorio  -->
    <add key="SourceApp" value="Log DATServicioV2"/>
    <!-- Switch para el EventLog-->
    <add key="ViewerERROR" value="true"/>
    <add key="ViewerWARN" value="true"/>
    <add key="ViewerINFO" value="false"/>
    <!-- Switch para el Log to File-->
    <add key="INFO" value="false"/>
    <add key="WARN" value="true"/>
    <add key="ERROR" value="true"/>
    <add key="FATAL" value="true"/>
    <add key="DEBUG" value="false"/>     
  </appSettings>
  <connectionStrings>
    <add name="DAT_V01" connectionString="Data Source=ansesmicrodes;Initial Catalog=DAT_V01 ;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="YH_ArgentaRC_V01" connectionString="Data Source=ansesmicrodes;Initial Catalog=YH_ArgentaRC_V01;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="UDAT_WEB_V01" connectionString="Data Source=ansesmicrodes;Initial Catalog=UDAT_WEB_V01;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="LogConnectionString" connectionString="Data Source=ansesmicrodes;Initial Catalog=DAT_V01;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="es-AR"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>