<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anses.DAT.Negocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Anses.DAT.Negocio.Properties.Settings>
            <setting name="Anses_DAT_Negocio_ADPDescripciones_ADPDescripciones"
                serializeAs="String">
                <value>http://presdesabper/UNICEN/BUC/ADPDescripciones.asmx</value>
            </setting>
            <setting name="Anses_DAT_Negocio_WSValidarCBU_ValidarCBU" serializeAs="String">
                <value>http://presdesabper/ServicioValidacionCBU/ValidarCBU.asmx</value>
            </setting>
        </Anses.DAT.Negocio.Properties.Settings>
    </applicationSettings>
</configuration>